<!DOCTYPE html>
<html lang="en">
<head>
  <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
            padding-top: 2%;
            
        }
    </style>
</head>
<body>
<div class="i-am-centered">
  <h1> Hidden Form</h1><hr/>
  <form action="" method="POST">
    {% csrf_token %} 
    {% for hidden in form.hidden_fields %}
      {{hidden}}
    
    {% endfor %}
    {% for field in form.visible_fields %}
      <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
                 
      </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    {% endfor %}
    
  </form>
</div>
</body>
</html>