<!DOCTYPE html>
<html lang="en">
<head>
  <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
            padding-top: 2%;
            
        }
    </style>
</head>
<body>
<div class="i-am-centered">
  <h1> Basic Form</h1><hr/>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="fieldWrapper">
      {{ form.subject.errors }}
      {{ form.subject.label_tag }}
      {{ form.subject }}
  </div>

  <div class="fieldWrapper">
    {{ form.message.errors }}
    {{ form.message.label_tag }}
    {{ form.message }}
</div>

<div class="fieldWrapper">
  
  {{ form.sender.errors }}
  {{ form.sender.label_tag }}
  {{ form.sender }}
</div>
<div class="fieldWrapper">
  
    {{ form.cc_myself.errors }}
    {{ form.cc_myself.label_tag }}
    {{ form.cc_myself }}
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>
</body>
</html>