<!DOCTYPE html>
<html lang="en">
<head>
  <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
            padding-top: 2%;
            
        }
    </style>
</head>
<body>
<div class="i-am-centered">
  <h1> Basic Form</h1><hr/>
  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
   
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>
</body>
</html>